{% extends 'master.html' %}

{% block content %}
    <section id="banner">
        <div class="container padding-medium-2">
            <div class="hero-content ">
                <h2 class="display-1 fw-bold mt-5 mb-0">{% block page_title %}{% endblock %}</h2>
                <nav class="breadcrumb">
                    <a class="breadcrumb-item nav-link" href="#">Home</a>
                    <span class="breadcrumb-item active" aria-current="page">{{ self.page_title() }}</span>
                </nav>
            </div>
        </div>
    </section>
    {% block child_content %}{% endblock %}
{% endblock %}