{% extends 'page-header.html' %}

{% block title %}Your Wishlist{% endblock %}

{% block page_title %}Wishlist{% endblock %}

{% block child_content %}

    <style>
        #banner {
            background-image: url('{{ url_for('static', filename='images/banner-img2.jpg') }}');
        }
    </style>

    <section id="Wishlist" class="py-5 my-5">
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="card-title text-uppercase">Product</th>
                <th scope="col" class="card-title text-uppercase">Unit Price</th>
                <th scope="col" class="card-title text-uppercase">Stock Status</th>
                <th scope="col" class="card-title text-uppercase"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="py-4">
                <div class="cart-info d-flex flex-wrap align-items-center ">
                    <div class="col-lg-3">
                    <div class="card-image">
                        <img src="images/item2.jpg" alt="cloth" class="img-fluid">
                    </div>
                    </div>
                    <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                        <a href="#" class="text-decoration-none">Sweatshirt</a>
                        </h5>
                    </div>
                    </div>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">$230.00</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">In Stoke</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="d-flex align-items-center">
                    <div class="me-4"><button class="btn btn-dark p-3 text-uppercase fs-6 btn-rounded-none w-100">Add to
                        cart</button></div>
                    <div class="cart-remove">
                    <a href="#">
                        <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                        </svg>
                    </a>
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td class="py-4">
                <div class="cart-info d-flex flex-wrap align-items-center ">
                    <div class="col-lg-3">
                    <div class="card-image">
                        <img src="images/item1.jpg" alt="cloth" class="img-fluid">
                    </div>
                    </div>
                    <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                        <a href="#" class="text-decoration-none">Black T-shirt</a>
                        </h5>
                    </div>
                    </div>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">$100.00</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">In Stoke</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="d-flex align-items-center">
                    <div class="me-4"><button class="btn btn-dark p-3 text-uppercase fs-6 btn-rounded-none w-100">Add to
                        cart</button></div>
                    <div class="cart-remove">
                    <a href="#">
                        <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                        </svg>
                    </a>
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td class="py-4">
                <div class="cart-info d-flex flex-wrap align-items-center ">
                    <div class="col-lg-3">
                    <div class="card-image">
                        <img src="images/item4.jpg" alt="cloth" class="img-fluid">
                    </div>
                    </div>
                    <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                        <a href="#" class="text-decoration-none">Printed T-shirt</a>
                        </h5>
                    </div>
                    </div>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">$190.00</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">Out of Stoke</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="d-flex align-items-center">
                    <div class="me-4"><button class="btn btn-dark p-3 text-uppercase fs-6 btn-rounded-none w-100">Add to
                        cart</button></div>
                    <div class="cart-remove">
                    <a href="#">
                        <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                        </svg>
                    </a>
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td class="py-4">
                <div class="cart-info d-flex flex-wrap align-items-center ">
                    <div class="col-lg-3">
                    <div class="card-image">
                        <img src="images/item3.jpg" alt="cloth" class="img-fluid">
                    </div>
                    </div>
                    <div class="col-lg-9">
                    <div class="card-detail ps-3">
                        <h5 class="card-title">
                        <a href="#" class="text-decoration-none">Flee Sweatshirt</a>
                        </h5>
                    </div>
                    </div>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">$250.00</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="total-price">
                    <span class="secondary-font fw-medium">In Stoke</span>
                </div>
                </td>
                <td class="py-4 align-middle">
                <div class="d-flex align-items-center">
                    <div class="me-4"><button class="btn btn-dark p-3 text-uppercase fs-6 btn-rounded-none w-100">Add to
                        cart</button></div>
                    <div class="cart-remove">
                    <a href="#">
                        <svg width="24" height="24">
                        <use xlink:href="#trash"></use>
                        </svg>
                    </a>
                    </div>
                </div>
                </td>
            </tr>

            </tbody>
        </table>
        </div>
    </section>
  
{%  endblock %}